* {
  scrollbar-width: thin;
  scrollbar-color: #28e237 #070d12;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #070d12;
}

*::-webkit-scrollbar-thumb {
  background-color: #66e228;
  border-radius: 20px;
  border: 1px solid #ffffff;
}
