* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 29%;
  cursor: pointer;
}

.navbar-container li {
  font-size: 20px;
  color: white;
  font-weight: 500;
  font-family: 'Exo 2', sans-serif;
}

.navbar-container {
  display: flex;
  list-style: none;
  gap: 5rem;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
/* .logo-container p {
 
} */

.logo-container p{
 font-size: 40px;
 font-weight: bold;
}

.image-container {
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  margin-left: 50%;
}

.image-container img{
  width: 40px;
}

.logo {
  width: 80px;
  display: flex;
  height: 70px;
}

.main-container {
  overflow: hidden;
  padding: 0 10rem;
  background-size: cover;
  height: 100%;
  position: relative;
  height: 800px;
  border-bottom: 2px solid #000000;
  background: linear-gradient(114.78deg, #a4cb60 -84.37%, #8dca23 -1.72%);
}
.main-section {
  margin-top: 9rem;
}
.main-section h1 {
  font-size: 60px;
  font-family: 'Exo 2', sans-serif;
}

.main-section p {
  font-size: 45px;
  color: white;
  font-family: 'Exo 2', sans-serif;
}

.main-section button {
  margin-top: 3rem;
  width: 200px;
  height: 50px;
  background-color: rgb(21, 51, 171);
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 20px;
  font-family: 'Exo 2', sans-serif;
}

.span-pet {
  color: white;
}

.dog {
  position: absolute;
  overflow-y: hidden;
  margin-top: 5rem;
  bottom: 0;
  right: 0;
  top: 10px;
  margin-right: 5%;
  width: auto;
  max-width: 870px;
  height: auto;
}

section {
  border-bottom: 2px solid #000000;
  padding-bottom: 100px;
}

.title-page-2 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding-bottom: 20px;
  padding-top: 38px;
}

.span-keuwe {
  color: #76ad18;
  padding-left: 10px;
  padding-right: 10px;
}
.corpo {
  margin-left: 20px;
}

.conteudo {
  margin-right: auto;
  display: table;
  margin-left: auto;
}

.imagem {
  display: table-cell;
  float: left;
}

.title-image {
  width: 300px;
  font-family: "Acme", sans-serif;
  font-size: 30px;
  align-items: center;
  margin-left: 250px;
  padding-bottom: 40px;
}

.texto {
  display: table-cell;
  float: left;
  width: 300px;
  margin-top: 20px;
  margin-left: 20px;
}

.petshop {
  width: 180px;
  margin-left: 50px;
}

.corpo {
  display: flex;
}

section {
  background: #d9d9d9;
}

.contatos {
  height: 200px;
  letter-spacing: 1px;
  margin-left: 100px;
  border-radius: 56px;
}

footer {
  background: linear-gradient(149.74deg, #a4cb60 11.46%, #344a0d 90.97%);
}

.maps {
  margin-left: 670px;
  margin-top: -200px;
  padding-bottom: 40px;
  width: 30%;
  border-radius: 3%;
}

.information {
  display: flex;
  margin-top: 20px;
  font-size: 25px;
  color: white;
  margin-left: 70px;
}

.social-media {
  padding: 20px;
  margin-left: 20px;
  cursor: pointer;
  width: 50px;
}

.title-footer {
  display: flex;
  padding-top: 20px;
  color: white;
  justify-content: center;
  font-size: 40px;
}

.image-footer {
  padding-left: 10px;
  width: 40px;
  padding-top: 10px;
}

.social-media:hover {
  transform: scale(1.4);
  transition: 1s;
}

.img-dog {
  margin-left: 1400px;
  margin-top: -500px;
  width: 500px;
}
a {
  text-decoration: none;
}
#about {
  text-decoration: none;
}
